<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<!-- navbar style -->
		<link rel="stylesheet" type="text/css" href="/navbar.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Kanit:300,400" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="/adminportal.css">

		<script>
			function validate(field) {
				if (field == "") {
					alert("Please ensure you are submitting a non-empty field.");
					return false;
				} else {
					return true;
				}
			}
		</script>
	</head>
	<body>
		<header>
			<a href="/"><img src="/staboverflow.png" align="middle"/></a>
			<div id="searchTools">
				<ul>
					<li>
						<form id="searchForm" name1="search" method="POST" action="/search">
							<input id="searchBar" name="query" type="text" placeholder="Search StabOverflow" autocomplete="off">
							<button id="searchSubmit" type="submit" form="searchForm"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</li>
					<li>
						<a id="browse" href="/search">Browse Questions</a>
					</li>
				</ul>
			</div>
			<div id="authLinks">
				<ul>
				{{#loggedIn}}
					<li>
						<a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>
					</li>
					{{#user_uid}}
					<li>
						<a href="/users/{{user_uid}}">My Profile {{#username}}({{username}}) {{/username}}<i class="fas fa-user"></i></a>
					</li>
					{{/user_uid}}
				{{/loggedIn}}
				{{^loggedIn}}
					<li>
						<a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a>
					</li>
					<li>
						<a href="/auth/google">Sign Up <i class="fas fa-user-plus"></i></a>
					</li>
				{{/loggedIn}}
				</ul>
			</div>
		</header>

		<div id="container">
			<h1>Administrator Portal</h1>

			<form method="POST" action="/addAccount" name="account" onsubmit="return validate(document.account.email.value) && validate(document.account.name.value) && confirm('Are you sure you want to add ' + document.account.email.value + '?');">
				Authorize a new account:<br>
				<input name="name" type="text" placeholder="Full name" maxlength="32" autocomplete="off"><br>
				<input name="email" type="text" placeholder="Email" maxlength="45" autocomplete="off"><br>
				<button type="submit">Authorize</button>
			</form>
			<br>
			<form method="POST" action="/makeAdmin" name="makeAdmin" onsubmit="return validate(document.makeAdmin.email.value) && confirm('Are you sure you want to make ' + document.makeAdmin.email.value + ' an administrator?');">
				Grant admin privileges:<br>
				<input name="email" type="text" placeholder="Email (existing account)" oninput="renderMatches(document.makeAdmin.email.value, 0);" autocomplete="off">
				<button type="submit">Grant privileges</button>
			</form>
			<br>
			<form method="POST" action="/removeAdmin" name="removeAdmin" onsubmit="return validate(document.removeAdmin.email.value) && confirm('Are you sure you want to revoke the privileges of ' + document.removeAdmin.email.value + '?');">
				Revoke admin privileges:<br>
				<input name="email" type="text" placeholder="Email (existing account)" oninput="renderMatches(document.removeAdmin.email.value, 1);" autocomplete="off">
				<button type="submit">Revoke privileges</button>
			</form>

			<div id="emailMatches"></div>

			<br>
			<form method="POST" action="/newCategory" name="newCat" onsubmit="return validate(document.newCat.category.value) && confirm('Are you sure you want to create the category ' + document.newCat.category.value + '?');">
				Create a new category:<br>
				<input name="category" type="text" placeholder="Category name" maxlength="32" autocomplete="off">
				<button type="submit">Create Category</button>
			</form>
			{{#loadedUnarchived}}
			<br>
			<form method="POST" action="/archiveCategory" name="archiveCat" onsubmit="return confirm('Are you sure you want to archive the category ' + $('#archiveCat option:selected').text() + '? (Users will no longer be able to make posts under this category)');">
				Archive an existing category:<br>
				<select id="archiveCat" name="uid">
					{{#unarchived}}
					<option value="{{uid}}">{{name}}</option>
					{{/unarchived}}
				</select>
				<button type="submit">Archive Category</button>
			</form>
			{{/loadedUnarchived}}
			{{#loadedAllCategories}}
			<br>
			<form method="POST" action="/deleteCategory" name="deleteCat" onsubmit="return confirm('Are you sure you want to FULLY DELETE the category ' + $('#deleteCat option:selected').text() + '? (This category will disappear from the site completely)');">
				Delete an existing category:<br>
				<select id="deleteCat" name="uid">
					{{#categories}}
					<option value="{{uid}}">{{name}}</option>
					{{/categories}}
				</select>
				<button type="submit">Delete Category</button>
			</form>
			{{/loadedAllCategories}}
		</div>
	</body>

	<script>
		var users = [
			{{#users}}
				{ name: "{{{name}}}", email: "{{{email}}}", is_admin: {{{is_admin}}} },
			{{/users}}
		];

		$matches = $('#emailMatches');
		function renderMatches(fragment, adminStatus) {
			fragment = fragment.toLowerCase();
			$matches.empty();

			if (fragment != "") {
				if (adminStatus == 1) {
					$matches.append("<h4>Possible Administrator Matches:</h4>");
				} else {
					$matches.append("<h4>Possible Regular User Matches:</h4>");
				}
				var found;
				for (var i = 0; i < users.length; i++) {
					if ((users[i].email.toLowerCase().includes(fragment) || users[i].name.toLowerCase().includes(fragment)) && users[i].is_admin == adminStatus) {
						$matches.append("<span>" + users[i].name + " (" + users[i].email + ")</span><br>");
						found = true;
					}
				}

				if (!found) {
					$matches.append("<span>No matches found!</span>")
				}
			}
		}
	</script>
</html>