<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>

		<!-- navbar style -->
		<link rel="stylesheet" type="text/css" href="/navbar.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Kanit:300,400" rel="stylesheet">

		<!-- PageDown editor -->
		<link rel="stylesheet" type="text/css" href="pagedown/pagedown.css" />
		<script type="text/javascript" src="pagedown/Markdown.Converter.js"></script>
        <script type="text/javascript" src="pagedown/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="pagedown/Markdown.Editor.js"></script>

        <link rel="stylesheet" type="text/css" href="/ask.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script>
			// confirm leaving page if data entered
			window.onbeforeunload = function() {
				if (document.questionForm.body.value == '' && document.questionForm.title.value == '') {
					return;
				} else {
					return "Are you sure you want to leave the page? Data entered will not be saved.";
				}
			}

			// validate that non-empty question is being submitted
			function validate() {
				if (document.questionForm.body.value == '' || document.questionForm.title.value == '') {
					alert("Please ensure your question has both a title and a body.");
					return false;
				} else {
					return true;
				}
			}
		</script>
	</head>
	<body>
		<header>
			<a href="/"><img src="/staboverflow.png" align="middle"/></a>
			<div id="searchTools">
				<ul>
					<li>
						<form id="searchForm" name1="search" method="POST" action="/search">
							<input id="searchBar" name="query" type="text" placeholder="Search StabOverflow" autocomplete="off">
							<button id="searchSubmit" type="submit" form="searchForm"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</li>
					<li>
						<a id="browse" href="/search">Browse Questions</a>
					</li>
				</ul>
			</div>
			<div id="authLinks">
				<ul>
				{{#loggedIn}}
					<li>
						<a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>
					</li>
					{{#user_uid}}
					<li>
						<a href="/users/{{user_uid}}">My Profile {{#username}}({{username}}) {{/username}}<i class="fas fa-user"></i></a>
					</li>
					{{/user_uid}}
				{{/loggedIn}}
				{{^loggedIn}}
					<li>
						<a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a>
					</li>
					<li>
						<a href="/auth/google">Sign Up <i class="fas fa-user-plus"></i></a>
					</li>
				{{/loggedIn}}
				</ul>
			</div>
		</header>

		<form method="POST" action="/newPost" name="questionForm" onsubmit="return validate();">
			<input hidden name="type" value="1">

			<div class="container">
				<h1>Ask a Question</h1><br>
				<center><span id="title">Title </span><input id="titleinput" name="title" type="text" autocomplete="off"></center>
			</div>

			<div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea name="body" class="wmd-input" id="wmd-input"></textarea>
            </div>

            <div id="wmd-preview" class="wmd-panel wmd-preview"></div><br>

			<div class="container">
				<center>
					Category
					<select id="category" name="category_uid">
						<option value="null">None</option>
						{{#categories}}
							<option value="{{uid}}">{{name}}</option>
						{{/categories}}
					</select>
					<br>
					<button id="post" type="submit" onclick="window.onbeforeunload = undefined;">Post Your Question</button>
				</center>
			</div>
		</form>

		<script type="text/javascript">
            (function () {
                var converter = Markdown.getSanitizingConverter();
                var editor = new Markdown.Editor(converter);
                editor.run();
            })();

			var $input = $('#wmd-input');

			// override tab from redirecting focus
			$input.keydown(function(event) {
				if (event.keyCode == 9) {
					event.preventDefault();	// prevent refocus
				    var cursorPos = $input.prop('selectionStart');
				    var v = $input.val();
				    var textBefore = v.substring(0,  cursorPos);
				    var textAfter  = v.substring(cursorPos, v.length);
				    $input.val(textBefore + "\t" + textAfter);
				    document.questionForm.body.setSelectionRange(cursorPos + 1, cursorPos + 1);
				}
			});
        </script>

		<style>
			pre {
				background-color: #e6e6e6;
				border: none !important;
			}
			code {
				background-color: #e6e6e6;
			}
		</style>
	</body>
</html>