<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>

		<!-- PageDown editor -->
		<link rel="stylesheet" type="text/css" href="../pagedown/pagedown.css" />
		<script type="text/javascript" src="../pagedown/Markdown.Converter.js"></script>
        <script type="text/javascript" src="../pagedown/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="../pagedown/Markdown.Editor.js"></script>
        <script>
			// confirm leaving page if data entered
			window.onbeforeunload = function() {
				if (document.questionForm.appendage.value == '') {
					return;
				} else {
					return "Are you sure you want to leave the page? Data entered will not be saved.";
				}
			}
		</script>
	</head>
	<body>
		<div id="navbar">
			<!-- put StabOverflow image here -->
			<form name="search" method="POST" action="/search">
				<input name="category" value="None" hidden>
				<input name="answeredStatus" value="All" hidden>
				<input name="query" type="text" placeholder="Search StabOverflow" onchange="document.search.submit()">
			</form>
			<a href="/search">Browse Questions</a>
			{{#loggedIn}}
				<a href="/logout">Log Out</a>
				{{#user_uid}}<a href="/users/{{user_uid}}">My Profile{{#username}} ({{username}}){{/username}}</a>{{/user_uid}}
			{{/loggedIn}}
			{{^loggedIn}}
				<a href="/auth/google">Log In</a>
				<a href="/auth/google">Sign Up</a>
			{{/loggedIn}}
		</div>

		<h1>{{title}}</h1>
		<div>{{{body}}}</div>

		<form method="POST" action="/updatePost" name="questionForm">
			<input name="uid" value="{{uid}}" hidden>

			<center><h3>Type below to <em>add</em> to your original post.</h3></center>
			<div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea name="appendage" class="wmd-input" id="wmd-input"></textarea>
            </div>

            <div id="wmd-preview" class="wmd-panel wmd-preview"></div>

			<center><button type="submit" onclick="window.onbeforeunload = undefined;">Post Your Question</button></center>
		</form>

		<script type="text/javascript">
            (function () {
                var converter = Markdown.getSanitizingConverter();
                var editor = new Markdown.Editor(converter);
                editor.run();
            })();
        </script>
	</body>
</html>