<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>
		<link rel="stylesheet" type="text/css" href="/navbar.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="/landingpage.css">
	</head>
	<body>
		<header>
			<a href="/"><img src="/staboverflow.png" align="middle"/></a>
			<div id="searchTools">
				<ul>
					<li>
						<form id="searchForm" name1="search" method="POST" action="/search">
							<input id="searchBar" name="query" type="text" placeholder="Search StabOverflow" autocomplete="off">
							<button id="searchSubmit" type="submit" form="searchForm"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</li>
					<li>
						<a id="browse" href="/search">Browse Questions</a>
					</li>
				</ul>
			</div>
			<div id="authLinks">
				<ul>
				{{#loggedIn}}
					<li>
						<a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a>
					</li>
					{{#user_uid}}
					<li>
						<a href="/users/{{user_uid}}">My Profile {{#username}}({{username}}) {{/username}}<i class="fas fa-user"></i></a>
					</li>
					{{/user_uid}}
				{{/loggedIn}}
				{{^loggedIn}}
					<li>
						<a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a>
					</li>
					<li>
						<a href="/auth/google">Sign Up <i class="fas fa-user-plus"></i></a>
					</li>
				{{/loggedIn}}
				</ul>
			</div>
		</header>

		<div id="container">

			<a id="ask" href="/ask">Ask a Question</a>

			<h2>Recent Questions</h2>
			<table>
				{{#questions}}
					<tr>
						<!-- category, upvotes, answers -->
						<td class="meta">
							{{#category}}<div class="category"><em>{{category}}</em></div>{{/category}}
							<div>
								<div class="upvotes"><span class="number">{{upvotes}}</span><br>upvotes</div>
								<div class="answers"><span class="number">{{answer_count}}</span><br>answers</div>
							</div>
						</td>

						<!-- title, owner, time -->
						<td>
							<div><a href='/questions/{{uid}}'>{{title}}</a></div>
							<div class="asker">asked {{when_asked}} by <a href="/users/{{owner_uid}}" title="{{owner_real}}">{{owner_display}}</a></div>
						</td>
					</tr>
				{{/questions}}
			</table>
		</div>
	</body>
</html>