<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>StabOverflow</title>
	</head>
	<body>
		<div id="navbar">
			<!-- put StabOverflow image here -->
			<form name="search" method="POST" action="/search">
				<input name="query" type="text" placeholder="Search StabOverflow..." onchange="document.search.submit()">
			</form>
			<button>Browse Questions</button>
			{{#loggedIn}}
				<button>Log Out</button>
				<button>My Profile</button>
			{{/loggedIn}}
			{{^loggedIn}}
				<button>Log In</button>
				<button>Sign Up</button>
			{{/loggedIn}}
		</div>

		<a href="/ask"><button>Ask a Question</button></a>

		<h2>Recent Questions</h2>
		<div>
			{{#questions}}
				<div>
					<!-- category, upvotes, answers -->
					<div onclick="window.location.href='/questions/{{uid}}'">
						<div>Category: {{category}}</div>
						<div>{{upvotes}} upvotes</div>
						<div>{{answer_count}} answers</div>
					</div>

					<!-- title, owner, time, tags -->
					<div>
						<div><a href='/questions/{{uid}}'>{{title}}</a></div>
						<div>asked {{when_asked}} by <a href="/users/{{owner_uid}}">{{owner_name}}</a></div>
					</div>
				</div>
			{{/questions}}
		</div>
	</body>
</html>