<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>StabOverflow</title>
	</head>
	<body>
		<div id="navbar">
			<!-- put StabOverflow image here -->
			<form name="search" method="POST" action="/search">
				<input name="category" value="0" hidden>
				<input name="answeredStatus" value="All" hidden>
				<input name="query" type="text" placeholder="Search StabOverflow" onchange="document.search.submit()">
			</form>
			<a href="/search">Browse Questions</a>
			{{#loggedIn}}
				<a href="/logout">Log Out</a>
				<a href="/users/{{user_uid}}">My Profile ({{username}})</a>
			{{/loggedIn}}
			{{^loggedIn}}
				<a href="/auth/google">Log In</a>
				<a href="/signup">Sign Up</a>
			{{/loggedIn}}
		</div>

		<a href="/ask">Ask a Question</a>

		<h2>Recent Questions</h2>
		<div>
			{{#questions}}
				<div>
					<!-- category, upvotes, answers -->
					<div>
						{{^noCategory}}<div>Category: {{category}}</div>{{/noCategory}}
						<div>{{upvotes}} upvotes</div>
						<div>{{answer_count}} answers</div>
					</div>

					<!-- title, owner, time, tags -->
					<div>
						<div><a href='/questions/{{uid}}'>{{title}}</a></div>
						<div>asked {{when_asked}} by <a href="/users/{{owner_uid}}">{{owner_name}}</a></div>
					</div>
				</div>
			{{/questions}}
		</div>
	</body>
</html>