<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>StabOverflow</title>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<script>
			// script to apply upvoting changes in UI
			function upvote(uid) {
				$.post('/upvote', { uid: uid })
					.done(function(data) {
						var $p = $('#' + uid);
						var n = parseInt($p.text(), 10) + data.delta;
						$p.text(n);
					});
			}

			{{#loggedIn}}
			function showCommentBox(id) {
				$('#commentBox' + id).toggle();
			}
			{{/loggedIn}}

			{{#isAdmin}}
			// delete question / answer
			function deletePost(uid, p_uid) {
				var c = confirm("Are you sure you want to delete this post?");
				if (c) {
					$.post('/deletePost', { uid: uid, parent_question_uid: p_uid })
						.done(function(data) {
							window.location.href = uid == {{question_uid}} ? '/' : '/questions/' + {{question_uid}};
						});
				}
			}

			// delete comment
			function deleteComment(uid) {
				var c = confirm("Are you sure you want to delete this comment?");
				if (c) {
					$.post('/deleteComment', { uid: uid })
						.done(function(data) {
							window.location.href = '/questions/' + {{question_uid}};
						});
				}
			}
			{{/isAdmin}}
		</script>

		<!-- PageDown editor -->
		<link rel="stylesheet" type="text/css" href="../pagedown/pagedown.css" />
		<script type="text/javascript" src="../pagedown/Markdown.Converter.js"></script>
        <script type="text/javascript" src="../pagedown/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="../pagedown/Markdown.Editor.js"></script>
	</head>
	<body>
		<!-- PUT NAVBAR HERE -->
		<div>
			<!-- question -->
			<div>
				<div>
					{{^noCategory}}
					<form name="getCategory" method="POST" action="/search">
						<input name="category" value="{{category_uid}}" hidden>
						<input name="answeredStatus" value="All" hidden>
						<div onclick="document.getCategory.submit()">Category: {{category}}</div>
					</form>
					{{/noCategory}}
					<div>
						<span id="{{question_uid}}">{{upvotes}}</span> upvotes<br>
						<a onclick="upvote({{question_uid}});" title="Upvote if you found this question helpful">Upvote</a>
					</div>
				</div>

				<h1>{{title}}</h1>
				<div>{{{body}}}</div>
				<div>asked {{creation_date}} by <a href="/users/{{owner_uid}}">{{owner_name}}</a></div>
				{{#isQuestionOwner}}<a href="/editPost/{{question_uid}}">Edit this question</a>{{/isQuestionOwner}}
				{{#isAdmin}}<div onclick="deletePost({{question_uid}}, undefined);"><strong>Delete question</strong></div>{{/isAdmin}}

				<!-- question comments -->
				<div>
					{{#comments}}
					<div>
						<div>{{{body}}}</div>
						- <a href="/users/{{owner_uid}}">{{owner_name}}</a> at {{creation_date}}
					</div>
					{{#isAdmin}}<div onclick="deleteComment({{uid}});"><strong>Delete comment</strong></div>{{/isAdmin}}
					{{/comments}}
				</div>

				{{#loggedIn}}
				<a onclick="showCommentBox({{question_uid}});">Add a comment</a><br>
				<!-- make question comment -->
				<form hidden id="commentBox{{question_uid}}" method="POST" action="/newComment">
					<input name="parent_question" value="{{question_uid}}" hidden>
					<input name="parent_uid" value="{{question_uid}}" hidden>
					<textarea name="body"></textarea>
					<button type="submit">Post Comment</button>
				</form>
				{{/loggedIn}}
			</div>

			<!-- answers -->
			<div>
				<h2>{{answer_count}} Answers</h2>
				{{#answers}}
					<div>
						<div><span id="{{answer_uid}}">{{upvotes}}</span> upvotes</div>
						<a onclick="upvote({{answer_uid}});" title="Upvote if you found this answer helpful">Upvote</a>
						<div>{{{body}}}</div>
						answered {{creation_date}} by <a href="/users/{{owner_uid}}">{{owner_name}}</a>
						{{#isOwner}}<br><a href="/editPost/{{answer_uid}}">Edit this answer</a>{{/isOwner}}
						{{#isAdmin}}<div onclick="deletePost({{answer_uid}}, {{parent_question_uid}});"><strong>Delete answer</strong></div>{{/isAdmin}}

						<!-- answer comments -->
						<div>
							{{#answer_comments}}
							<div>
								<div>{{{body}}}</div>
								- <a href="/users/{{owner_uid}}">{{owner_name}}</a> at {{creation_date}}
							</div>
							{{#isAdmin}}<div onclick="deleteComment({{uid}});"><strong>Delete comment</strong></div>{{/isAdmin}}
							{{/answer_comments}}
						</div>

						{{#loggedIn}}
						<a onclick="showCommentBox({{answer_uid}});">Add a comment</a><br>
						<!-- make answer comment -->
						<form hidden id="commentBox{{answer_uid}}" method="POST" action="/newComment">
							<input name="parent_question" value="{{question_uid}}" hidden>
							<input name="parent_uid" value="{{answer_uid}}" hidden>
							<textarea name="body"></textarea>
							<button type="submit">Post Comment</button>
						</form>
						{{/loggedIn}}
					</div>

					<hr />
				{{/answers}}
			</div>

			{{#loggedIn}}
			<!-- write an answer form -->
			<h2>Your Answer</h2>
			<form method="POST" action="/newPost">
				<input hidden name="type" value="0">
				<input hidden name="parent_question" value="{{question_uid}}">
				<div class="wmd-panel">
					<div id="wmd-button-bar"></div>
					<textarea name="body" class="wmd-input" id="wmd-input"></textarea>
				</div>

				<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
				<button type="submit">Post Your Answer</button>
			</form>

			<script type="text/javascript">
				(function () {
					var converter = Markdown.getSanitizingConverter();
					var editor = new Markdown.Editor(converter);
					editor.run();
				})();
	        </script>
	        {{/loggedIn}}
		</div>

	</body>
</html>