<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>

		<!-- navbar style -->
		<link rel="stylesheet" type="text/css" href="/navbar.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Kanit:300,400" rel="stylesheet"> 

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<!-- Google code prettify -->
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Kanit:300,400" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/question.css">
		<link rel="stylesheet" type="text/css" href="/code.css">
		<link rel="stylesheet" type="text/css" href="/markdowninstructions.css">

		<script>
			// confirm leaving page if data entered
			window.onbeforeunload = function() {
				if (document.answerForm.body.value == '') {
					return;
				} else {
					return "Are you sure you want to leave the page? Data entered will not be saved.";
				}
			}

			{{#loggedIn}}
			// validate that non-empty appendage is being submitted
			function validate() {
				if (document.answerForm.body.value == '') {
					alert("Please ensure your answer has content in the body.");
					return false;
				} else {
					return true;
				}
			}

			// script to apply upvoting changes in UI
			function upvote(uid) {
				$.post('/upvote', { uid: uid })
					.done(function(data) {
						if (!isNaN(parseInt(data.delta, 10))) {
							var $p = $('#' + uid);
							var n = parseInt($p.text(), 10) + data.delta;
							$p.text(n);
						}
					});
			}

			// toggle display of comment box
			function showCommentBox(id) {
				$('#commentBox' + id).toggle();
			}

			// subscribe or unsubscribe to this question
			function toggleSubscription() {
				if (isSubscribed) {
					$.post('/unsubscribeToQuestion', { questionUID: {{question_uid}} })
						.done(function(data) {
							if (data.success) {
								alert("Successfully unsubscribed from this question!");
								isSubscribed = false;
								colorSubButton();
							} else {
								alert("Unable to unsubscribe.");
							}
						});
				} else {
					$.post('/subscribeToQuestion', { questionUID: {{question_uid}} })
						.done(function(data) {
							if (data.success) {
								alert("Successfully subscribed to this question!");
								isSubscribed = true;
								colorSubButton();
							} else {
								alert("Unable to subscribe (either you are already subscribed, or an error occurred)");
							}
						});
				}
			}
			{{/loggedIn}}

			{{#isAdmin}}
			// delete question / answer
			function deletePost(uid, p_uid) {
				var c = confirm("Are you sure you want to delete this post?");
				if (c) {
					$.post('/deletePost', { uid: uid, parent_question_uid: p_uid })
						.done(function(data) {
							window.location.href = uid == {{question_uid}} ? '/' : '/questions/' + {{question_uid}};
						});
				}
			}

			// delete comment
			function deleteComment(uid) {
				var c = confirm("Are you sure you want to delete this comment?");
				if (c) {
					$.post('/deleteComment', { uid: uid })
						.done(function(data) {
							window.location.href = '/questions/' + {{question_uid}};
						});
				}
			}
			{{/isAdmin}}
		</script>

		<!-- PageDown editor -->
		<link rel="stylesheet" type="text/css" href="../pagedown/pagedown.css" />
		<script type="text/javascript" src="../pagedown/Markdown.Converter.js"></script>
        <script type="text/javascript" src="../pagedown/Markdown.Sanitizer.js"></script>
        <script type="text/javascript" src="../pagedown/Markdown.Editor.js"></script>
	</head>
	<body>
		<div class="content">
			<header>
				<a href="/"><img src="/staboverflow.png" align="middle"/></a>
				<div id="searchTools">
					<ul>
						<li>
							<form id="searchForm" name1="search" method="POST" action="/search">
								<input id="searchBar" name="query" type="text" placeholder="Search StabOverflow" autocomplete="off">
								<button id="searchSubmit" type="submit" form="searchForm"><i id="searchIcon" class="fas fa-search"></i></button>
							</form>
						</li>
						<li>
							<a id="browse" href="/search">Browse Questions</a>
						</li>
					</ul>
				</div>
				<div id="authLinks">
					<ul>
					{{#loggedIn}}
						<li>
							<a href="/logout?returnTo=%2Fquestions%2F{{question_uid}}">Log Out <i class="fas fa-sign-out-alt"></i></a>
						</li>
						{{#user_uid}}
						<li>
							<a href="/users/{{user_uid}}">
								{{#username}}<span id="navDisplayName">{{username}}</span> {{/username}}
								{{#myProfileImg}}<img id="navProfileImage" src="{{myProfileImg}}" align="top">{{/myProfileImg}}
								{{^myProfileImg}}<i class="fas fa-user"></i>{{/myProfileImg}}
							</a>
						</li>
						{{/user_uid}}
					{{/loggedIn}}
					{{^loggedIn}}
						<li>
							<a href="/auth/google?returnTo=%2Fquestions%2F{{question_uid}}">Log In <i class="fas fa-sign-in-alt"></i></a>
						</li>
						<li>
							<a href="/auth/google">Sign Up <i class="fas fa-user-plus"></i></a>
						</li>
					{{/loggedIn}}
					</ul>
				</div>
			</header>
			
			<div id="container">
				<!-- question -->
				<div class="post">
					<div class="postmeta">
						<div class="upvote" {{#loggedIn}}onclick="upvote({{question_uid}});" title="This question was helpful"{{/loggedIn}}{{^loggedIn}}title="You must be logged in to upvote"{{/loggedIn}}><i class="fas fa-chevron-circle-up"></i></div>
						<div class="upvotecount" id="{{question_uid}}">{{upvotes}}</div>
						{{#loggedIn}}<div id="envelope" class="subscribe" title="Subscribe to this question" onclick="toggleSubscription();"><i class="far fa-envelope"></i></div>{{/loggedIn}}
						{{#isQuestionOwner}}<div class="edit"><a href="/editPost/{{question_uid}}" title="Edit this Question"><i class="far fa-edit"></i></a></div>{{/isQuestionOwner}}
						{{#isAdmin}}<div class="delete" onclick="deletePost({{question_uid}}, undefined);" title="Delete Question"><i class="fas fa-trash-alt"></i></div>{{/isAdmin}}
					</div>

					<div class="postbody"> 
						<h1>{{title}}</h1>
						{{#category}}
						<form name="getCategory" method="POST" action="/search">
							<input name="category" value="{{category_uid}}" hidden>
							<input name="answeredStatus" value="All" hidden>
							<div id="questioncategory" onclick="document.getCategory.submit()" title="See more under this category">{{category}}</div>
						</form>
						{{/category}}
						<hr>
						<br>
						<div>{{{body}}}</div>
						<div class="asker">
							<div>asked {{creation_date}}</div>
							{{#image_url}}<img src="{{image_url}}" width="40" align="middle"/>{{/image_url}}
							<a href="/users/{{owner_uid}}" title="{{owner_real}}">{{owner_display}}</a>
						</div>
					</div>

					<!-- question comments -->
					<table class="comments">
						{{#comments}}
						<tr>
							<td>{{#isAdmin}}<div class="delete" onclick="deleteComment({{uid}});" title="Delete Comment"><i class="fas fa-trash-alt"></i></div>{{/isAdmin}}</td>
							<td>{{{body}}} <span class="commentasker">- <a href="/users/{{owner_uid}}" title="{{owner_real}}">{{owner_display}}</a> at {{creation_date}}</span></td>
						</tr>
						{{/comments}}
						{{#loggedIn}}
						<tr>
							<td><a class="addcomment" onclick="showCommentBox({{question_uid}});" title="Add a Comment"><i class="far fa-comment"></i></a></td>
							<td>
								<form hidden id="commentBox{{question_uid}}" method="POST" action="/newComment">
									<input name="parent_question" value="{{question_uid}}" hidden>
									<input name="parent_uid" value="{{question_uid}}" hidden>
									<textarea class="commentinput" name="body" rows="3"></textarea><br>
									<button class="postcomment" type="submit">Post Comment</button>
								</form>
							</td>
						</tr>
						{{/loggedIn}}
					</table>
				</div>

				<br> 
				<!-- answers -->
				<div>
					<h2>{{answer_count}} Answers</h2><br>
					{{#answers}}
						<div class="post">
							<div class="postmeta">
								<div class="upvote" {{#loggedIn}}onclick="upvote({{answer_uid}});" title="This answer was helpful"{{/loggedIn}}{{^loggedIn}}title="You must be logged in to upvote"{{/loggedIn}}><i class="fas fa-chevron-circle-up"></i></div>
								<div class="upvotecount" id="{{answer_uid}}">{{upvotes}}</div>
								{{#isOwner}}<div class="edit"><a href="/editPost/{{answer_uid}}" title="Edit this Answer"><i class="far fa-edit"></i></a></div>{{/isOwner}}
								{{#isAdmin}}<div class="delete" onclick="deletePost({{answer_uid}}, {{parent_question_uid}});" title="Delete Answer"><i class="fas fa-trash-alt"></i></div>{{/isAdmin}}
							</div>
							<div class="postbody">
								<div>{{{body}}}</div>
								<div class="asker">
									<div>answered {{creation_date}}</div>
									{{#image_url}}<img src="{{image_url}}" width="40" align="middle"/>{{/image_url}}
									<a href="/users/{{owner_uid}}" title="{{owner_real}}">{{owner_display}}</a>
								</div>
							</div>

							<!-- answer comments -->
							<table class="comments">
								{{#answer_comments}}
								<tr>
									<td>{{#isAdmin}}<div class="delete" onclick="deleteComment({{uid}});" title="Delete Comment"><i class="fas fa-trash-alt"></i></div>{{/isAdmin}}</td>
									<td>{{{body}}} <span class="commentasker">- <a href="/users/{{owner_uid}}" title="{{owner_real}}">{{owner_display}}</a> at {{creation_date}}</span></td>
								</tr>
								{{/answer_comments}}
								{{#loggedIn}}
								<tr>
									<td><a class="addcomment" onclick="showCommentBox({{answer_uid}});" title="Add a Comment"><i class="far fa-comment"></i></a></td>
									<td>
										<form hidden id="commentBox{{answer_uid}}" method="POST" action="/newComment">
											<input name="parent_question" value="{{question_uid}}" hidden>
											<input name="parent_uid" value="{{answer_uid}}" hidden>
											<textarea class="commentinput" name="body" rows="3"></textarea><br>
											<button class="postcomment" type="submit">Post Comment</button>
										</form>
									</td>
								</tr>
								{{/loggedIn}}
							</table>
						</div>
						<br>
					{{/answers}}
				</div>

				{{#loggedIn}}
				<!-- write an answer form -->
				<h2>Your Answer</h2>
				<form method="POST" action="/newPost" name="answerForm" onsubmit="return validate();">
					<input hidden name="type" value="0">
					<input hidden name="parent_question" value="{{question_uid}}">
					<div class="wmd-panel">
						<div id="wmd-button-bar"></div>
						<textarea name="body" class="wmd-input" id="wmd-input"></textarea>
						<div class="markdown-instructions">
			            	<div id="toggle-instructions" onclick="$('#instructions-list').slideToggle();">Toggle Instructions</div>
							<ul id="instructions-list" hidden>
								<li><p><strong>**bold text**</strong></p></li>
								<li><p><em>*emphasized text*</em></p></li>
								<li>
									<p>
										Links:<br>
										[link to Google](https://www.google.com)<br>
										&lt;https://www.google.com&gt;
									</p>
								</li>
								<li><p>Indent code with tab</p></li>
								<li><p>Put backticks around <code>`inline code`</code></p></li>
								<li>
									<p>
										# Big Header<br>
										## Medium Header<br>
										### Small Header
									</p>
								</li>
							</ul>
						</div>
					</div>

					<div id="wmd-preview" class="wmd-panel wmd-preview"></div>
					<center><button id="postanswer" type="submit" onclick="window.onbeforeunload = undefined;">Post Your Answer</button></center>
				</form>

				<script type="text/javascript">
					(function () {
						var converter = Markdown.getSanitizingConverter();
						var editor = new Markdown.Editor(converter);
						editor.run();
					})();

					var $input = $('#wmd-input');

					// override tab from redirecting focus
					$input.keydown(function(event) {
						if (event.keyCode == 9) {
							event.preventDefault();	// prevent refocus
						    var cursorPos = $input.prop('selectionStart');
						    var v = $input.val();
						    var textBefore = v.substring(0,  cursorPos);
						    var textAfter  = v.substring(cursorPos, v.length);
						    $input.val(textBefore + "\t" + textAfter);
						    document.answerForm.body.setSelectionRange(cursorPos + 1, cursorPos + 1);
						}
					});
		        </script>
		        {{/loggedIn}}

				<script>
					// syntax highlight all <pre>'s and <code>'s 
					$('pre').attr('class', 'prettyprint');
					$('code').attr('class', 'prettyprint');

					{{#loggedIn}}

					$envelope = $('#envelope');

					function colorSubButton() {
						if (isSubscribed) {
							$envelope.css("color", "#808080");
							$envelope.attr("title", "Unsubscribe from this question");
						} else {
							$envelope.css("color", "#0066ff");
							$envelope.attr("title", "Subscribe to this question");
						}
					}

					// establish whether or not user is subscribed to this question
					var isSubscribed;
					$.post('/isSubscribedToQuestion', { questionUID: {{question_uid}} })
						.done(function(data) {
							isSubscribed = data.isSubscribed;
							colorSubButton();
						});

					{{/loggedIn}}

				</script>
			</div>
		</div>
		
		<footer>
			<div>
				<span>Stab Overflow - 2018</span><br>
				<span>Thomas Castleman - Johnny Lindbergh</span>
			</div>
		</footer>

	</body>
</html>