<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>
	</head>
	<body>
		<div id="navbar">
			<!-- put StabOverflow image here -->
			<form name="search" method="POST" action="/search">
				<input name="category" value="None" hidden>
				<input name="answeredStatus" value="All" hidden>
				<input name="query" type="text" placeholder="Search StabOverflow" onchange="document.search.submit()">
			</form>
			<a href="/search">Browse Questions</a>
			{{#loggedIn}}
				<a href="/logout">Log Out</a>
				{{#user_uid}}<a href="/users/{{user_uid}}">My Profile{{#username}} ({{username}}){{/username}}</a>{{/user_uid}}
			{{/loggedIn}}
			{{^loggedIn}}
				<a href="/auth/google">Log In</a>
				<a href="/auth/google">Sign Up</a>
			{{/loggedIn}}
		</div>

		<form name="secondarySearch" method="POST" action="/search">
			<input name="query" type="text" value="{{query}}">
			<input type="submit" value="Search"><br>

			Filter by Category
			<select name="category" onchange="document.secondarySearch.submit();">
				<option value="0">All</option>
				{{#categories}}
					<option {{#isSelected}}selected="selected" {{/isSelected}}value="{{uid}}">{{name}}</option>
				{{/categories}}
			</select>
			<br>

			Filter by answers
			<select name="answeredStatus" onchange="document.secondarySearch.submit();">
				<option {{#All}}selected="selected" {{/All}}value="All">All</option>
				<option {{#Unanswered}}selected="selected" {{/Unanswered}}value="Unanswered">Unanswered</option>
				<option {{#Answered}}selected="selected" {{/Answered}}value="Answered">Answered</option>
			</select>
		</form>

		<h2>Search Results</h2>

		<div>
			{{#results}}
				<div>
					<!-- category, upvotes, answers -->
					<div>
						{{#category}}<div>{{category}}</div>{{/category}}
						<div>{{upvotes}} upvotes</div>
						<div>{{answer_count}} answers</div>
					</div>

					<!-- title, owner, time -->
					<div>
						<div><a href='/questions/{{redirect_uid}}'>{{title}}</a></div>
						<div>asked {{creation_date}} by <a href="/users/{{owner_uid}}" title="{{owner_real}}">{{owner_display}}</a></div>
					</div>
				</div>
				<br>
			{{/results}}
			{{^results}}
			No results found!
			{{/results}}
		</div>

	</body>
</html>