<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>StabOverflow</title>
	</head>
	<body>
		<!-- PUT NAVBAR HERE -->

		<form name="secondary" method="POST" action="/search">
			<input name="query" type="text">
			<input type="submit" value="Search"><br>

			Filter by Category
			<select name="category">
				<option value="0">All</option>
				{{#categories}}
					<option value="{{uid}}">{{name}}</option>
				{{/categories}}
			</select>
			<br>

			Filter by answers
			<select name="answeredStatus">
				<option value="All">All</option>
				<option value="Unanswered">Unanswered</option>
				<option value="Answered">Answered</option>
			</select>
		</form>

		<h2>Search Results</h2>

		<div>
			{{#results}}
				<div>
					<!-- category, upvotes, answers -->
					<div>
						{{#category}}<div>Category: {{category}}</div>{{/category}}
						<div>{{upvotes}} upvotes</div>
						<div>{{answer_count}} answers</div>
					</div>

					<!-- title, owner, time -->
					<div>
						<div><a href='/questions/{{redirect_uid}}'>{{title}}</a></div>
						<div>asked {{creation_date}} by <a href="/users/{{owner_uid}}">{{owner_name}}</a></div>
					</div>
				</div>
				<br>
			{{/results}}
			{{^results}}
			No results found!
			{{/results}}
		</div>

	</body>
</html>