<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stab Overflow</title>
	</head>
	<body>
		<div id="navbar">
			<!-- put StabOverflow image here -->
			<form name="search" method="POST" action="/search">
				<input name="category" value="None" hidden>
				<input name="answeredStatus" value="All" hidden>
				<input name="query" type="text" placeholder="Search StabOverflow" onchange="document.search.submit()">
			</form>
			<a href="/search">Browse Questions</a>
			{{#loggedIn}}
				<a href="/logout">Log Out</a>
				{{#user_uid}}<a href="/users/{{user_uid}}">My Profile{{#username}} ({{username}}){{/username}}</a>{{/user_uid}}
			{{/loggedIn}}
			{{^loggedIn}}
				<a href="/auth/google">Log In</a>
				<a href="/auth/google">Sign Up</a>
			{{/loggedIn}}
		</div>

		<h1>{{full_name}}</h1>
		{{#is_admin}}<h3><em>Admin</em></h3>{{/is_admin}}
		<p>{{bio}}</p>

		<span>Questions asked: {{questions_asked}}</span><br>
		<span>Answers given: {{answers_given}}</span><br>

		{{#ownProfile}}
			<a href="/users/edit/{{uid}}">Edit my profile</a><br>

			{{#is_admin}}
				<a href="/adminPortal">Admin Portal</a>
			{{/is_admin}}
		{{/ownProfile}}

		<h3>Recent Posts:</h3>
		<table>
			{{#posts}}
				<tr>
					<td>{{#isQuestion}}Q:{{/isQuestion}}{{^isQuestion}}A:{{/isQuestion}}</td>
					<td><a href="/questions/{{redirect_uid}}">{{title}}</a></td>
					<td>{{date}}</td>
				</tr>
			{{/posts}}
		</table>
	</body>
</html>