

/* code formatting */
pre {
	background-color: #d9d9d9;
	border: none !important;
	overflow: auto;
	max-height: 700px;
	margin-top: 15px;
	margin-bottom: 15px;
	border:none;
	border-radius: 3px;
}

code {
	background-color: #d9d9d9;
}