
/* container for page */
#container {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	width: 40%;
	min-width: 500px;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	line-height: 50px;
}

/* "An error occurred" title */
#container h1 {
	color: #ff3333;
}