
/* container for page content */
#container {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 60%;
	min-width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* "Recent Questions" title */
h2 {
	font-family: 'Kanit', sans-serif;
}

/* table of question links */
table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	border: solid;
	border-width: 1px 0;
	border-color: #d9d9d9;
}

tr:first-child {
	border: none;
}

tr:last-child {
	border: none;
}

td {
	padding: 8px;
}

/* links to question / user pages */
#container a, #container a:visited {
	color: #0066ff;
	text-decoration: none;
	outline: none;
}

#container a:hover {
	color: #4d94ff;
}

/* upvote and answer counts on each question */
.upvotes, .answers {
	display: inline-block;
	font-size: 13px;
	padding: 2px;
	border: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	border-radius: 3px;
}

/* enlarged count number for upvotes / answers */
.number {
	font-size: 17px;
}

/* question category name */
.category {
	font-size: 13px;
	margin-bottom: 10px;
}

/* asker metadata */
.asker {
	font-size: 13px;
	color: #999999;
	float:right;
	margin-top: 5px;
}

/* container for question metadata */
.meta {
	text-align: center;
}

/* ask a question link */
#ask {
	float: right;
	color: white !important;
	background-color: #4d88ff;
	padding: 10px;
	border-radius: 4px;
}

#ask:hover {
	background-color: #6699ff;
	cursor: pointer;
}

.metawrapper {
	color: #595959 !important;
}