
/* "Recent Questions" title */
h2 {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
}

/* ask a question link */
#ask {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	float: right;
	color: white !important;
	background-color: #4d88ff;
	padding: 10px;
	border-radius: 4px;
}

/* hover on ask a question link */
#ask:hover {
	background-color: #6699ff;
	cursor: pointer;
}