

* {
	margin: 0;
	padding: 0;
}



/* --------------------------- NAVBAR BELOW -------------------------------- */


/* navbar container div */
#navbar {
	background-color: rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
}

/* staboverflow logo image */
#logo {
	display: inline;
}

/* form for main searchbar */
#searchForm {
	display: inline;
}

/* container for login/signup links */
#authLinks {
	float: right;
	margin-right: 30px;
}

/* container for login link / graphics */
#logInBox {
	display: inline;
}

/* container for sign in link / graphics */
#signUpBox {
	display: inline;
}

/* container for logout link / graphics */
#logOutBox {
	display: inline;
	padding: 5px;
}

/* container for profile link */
#profileBox {
	display: inline;
	padding: 5px;
}

a {
	text-decoration: none;
}