
/* container for page content */
#container {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 55%;
	min-width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* asker metadata */
.asker {
	float:right;
	background-color: #e6e6e6;
	font-size: 13px;
	color: #4d4d4d;
	padding: 7px;
	margin-top: 5px;
	border-radius: 3px;
}

.asker > a, .asker a:visited {
	text-decoration: none;
	outline: none;
	color: #0066ff;
	font-size: 15px;
}

.asker > div {
	margin-bottom: 4px;
}

/* button to see more from same category */
#questioncategory {
	display: inline-block;
	font-size: 14px;
	color: #4d4d4d;
	padding: 7px;
	background-color: #b3d9ff;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#questioncategory:hover {
	cursor: pointer;
	background-color: #cce6ff;
}

.postbody {
	width: 90%;
	float:right;
}

.postmeta {
	float:left;
	width: 10%;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;
}

.postmeta a, .postmeta a:visited {
	color: black;
}

/* table of comments */
.comments {
	border-collapse: collapse;
	clear: both;
	font-size: 14px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/* comment table rows*/
.comments tr {
	border: solid;
	border-width: 1px 0;
	border-color: #d9d9d9;
}

.comments tr:first-child {
	border: none;
}

.comments tr:last-child {
	border: none;
}

.comments td {
	padding: 7px;
}

/* comment table links */
.comments td a, .comments td a:visited {
	color: #0066ff;
	text-decoration: none;
	outline: none;
}

/* comment asker metadata */
.commentasker {
	color: #8c8c8c;
}

/* add comment icon */
.addcomment {
	font-size: 19px;
	cursor: pointer;
}

/* comment textarea input */
.commentinput {
	width: 100%;
	height: auto;
	border-radius: 4px;
	border: 1px solid DarkGray;
	padding: 4px;
	resize: vertical;
}

/* button to submit comment */
.postcomment {
	color: white !important;
	border: none;
	margin-top: 5px;
	background-color: #4d88ff;
	padding: 6px;
	border-radius: 4px;
}

.postcomment:hover {
	background-color: #6699ff;
	cursor: pointer;
}

.upvote {
	font-size: 30px;
	color: #0066ff;
	cursor: pointer;
}

.upvotecount {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

.delete {
	cursor: pointer;
	color: #4d4d4d;
}

#postanswer {
	color: white;
	background-color: #4d88ff;
	padding: 10px;
	border:none;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 210px;
}

#postanswer:hover {
	background-color: #6699ff;
	cursor: pointer;
}

.post {
	background-color: #f5f5f5;
	padding: 15px 10px 15px 10px;
	border-radius: 7px;
}