
/* container for page content */
#container {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 55%;
	min-width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* asker metadata */
.asker {
	float:right;
	background-color: #e0e0e0;
	font-size: 13px;
	color: #4d4d4d;
	padding: 7px;
	margin-top: 5px;
	border-radius: 3px;
}

/* links in asker div */
.asker > a, .asker a:visited {
	text-decoration: none;
	outline: none;
	color: #0066ff;
	font-size: 15px;
}

/* div container for date asked */
.asker > div {
	margin-bottom: 4px;
}

/* asker profile image */
.asker > img {
	border: none;
	border-radius: 3px;
}

/* button to see more from same category */
#questioncategory {
	display: inline-block;
	font-size: 14px;
	color: #4d4d4d;
	padding: 7px;
	background-color: #b3d9ff;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* hover on category button */
#questioncategory:hover {
	cursor: pointer;
	background-color: #cce6ff;
}

/* righthand container for post title / body / asker info */
.postbody {
	width: 90%;
	float:right;
	font-size: 16px;
}

/* lefthand container for upvoting / editing / deleting*/
.postmeta {
	float:left;
	width: 10%;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;
}

/* lefthand upvote / edit / delete links */
.postmeta a, .postmeta a:visited {
	color: black;
}

/* table of comments */
.comments {
	border-collapse: collapse;
	clear: both;
	font-size: 14px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/* comment table rows*/
.comments tr {
	border: solid;
	border-width: 1px 0;
	border-color: #d9d9d9;
}

/* prevent first and last comment from having line above or below, respectively */
.comments tr:first-child, .comments tr:last-child {
	border: none;
}

/* padding for comment table elements */
.comments td {
	padding: 7px;
}

/* comment table links */
.comments td a, .comments td a:visited {
	color: #0066ff;
	text-decoration: none;
	outline: none;
}

/* comment asker metadata */
.commentasker {
	color: #808080;
}

/* add comment icon */
.addcomment {
	font-size: 19px;
	cursor: pointer;
}

/* comment textarea input */
.commentinput {
	width: 100%;
	height: auto;
	border-radius: 4px;
	border: 1px solid DarkGray;
	padding: 4px;
	resize: vertical;
}

/* button to submit comment */
.postcomment {
	color: white !important;
	border: none;
	margin-top: 5px;
	background-color: #4d88ff;
	padding: 6px;
	border-radius: 4px;
}

/* hover on post comment button */
.postcomment:hover {
	background-color: #6699ff;
	cursor: pointer;
}

/* upvote icon */
.upvote {
	font-size: 30px;
	color: #0066ff;
	cursor: pointer;
}

/* number of upvotes */
.upvotecount {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

/* delete post icon */
.delete {
	cursor: pointer;
	color: #4d4d4d;
}

/* submit button for answer */
#postanswer {
	color: white;
	background-color: #4d88ff;
	padding: 10px;
	border:none;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 210px;
}

/* hover on submit button for answer */
#postanswer:hover {
	background-color: #6699ff;
	cursor: pointer;
}

/* top-level container for post data */
.post {
	background-color: #fafafa;
	padding: 15px 10px 15px 10px;
	border-radius: 4px;
}

/* divider line between answers */
hr {
	background-color:  #999999;
	color:  #999999;
	border-color:  #999999;
	margin-top: 5px;
	margin-bottom: 5px;
}

.subscribe {
	font-size: 20px;
	color: #333333;
	cursor: pointer;
}