
/* container for page content */
#container {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	background-color: #f2f2f2;
	padding: 20px;
	width: 60%;
	min-width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}


/* links to question pages */
#container a, #container a:visited {
	color: #0066ff;
	text-decoration: none;
	outline: none;
}

/* hover over any links in container */
#container a:hover {
	color: #4d94ff;
}

/* table of question links */
table {
	margin-top: 15px;
	border-collapse: collapse;
	width: 100%;
}

tr {
	border: solid;
	border-width: 1px 0;
	border-color: #d9d9d9;
}

/* prevent first and last element in recent posts table from having extra border lines */
tr:first-child, tr:last-child {
	border: none;
}

/* background change on hover for questions in recent posts */
tr:hover {
	background-color: #e6e6e6;
}

/* table elements */
td {
	padding: 5px;
	color: #666666;
}

/* usernames */
h1, h4, h3 {
	font-family: 'Kanit', sans-serif;
	font-weight:300;
}

/* real name subtitle */
h4 {
	color: #4d4d4d;
}

/* questions asked and answers given figures */
.bignumber {
	font-size: 22px;
}

/* edit profile and admin portal icons */
#tools {
	float:right;
	font-size: 23px;
}

/* edit profile link colors */
#tools > a, #tools > a:visited {
	color: #333333 !important;
}

/* profile image */
#container > img {
	border-radius: 4px;
}

/* question or answer status on user posts */
.QA {
	text-align: center;
}

/* button to post to search under this user */
.seemoreposts {
	float:right;
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: white;
	background-color: #4d88ff;
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border:none;
	border-radius: 4px;
}

/* hover on see more button */
.seemoreposts:hover {
	background-color: #6699ff;
	cursor: pointer;
}